<html>
<head>
{% extends "home/base_generic.html" %}
</head>

{% block content %}

<body class="norm">

<div class="absoluteNorm">

<h1 class="top">GSP Electrical Demand - Plotting & Visualisation</h1>

<p class="norm">This section allows you to download electrical Grid Supply Point (GSP) data for each GSP throughout Scotland. </p>
<br/>
<p class="norm">Fill in the fields below and click Enter to define the Parameters</p>
<br/>


	<form action={% url 'electricalPlot' %} method="get">
		<p class="norm"><strong>Select the electrical GSP:</strong></p>
		<select name="supplyPoint">
			<option value=1>Ayr</option>
			<option value=2>Bainsford</option>
			<option value=3>Bathgate</option>
			<option value=4>Berwick</option>
			<option value=5>Bonnybridge</option>
			<option value=6>Braehead Park</option>
			<option value=7>Broxburn</option>
			<option value=8>Carntyne</option>
			<option value=9>Chapelcross</option>
			<option value=10>Charlotte Street</option>
			<option value=11>Coatbridge</option>
			<option value=12>Cockenzie</option>
			<option value=13>Coylton</option>
			<option value=14>Crookston</option>
			<option value=15>Cumbernauld</option>
			<option value=16>Cupar</option>
			<option value=17>Currie</option>
			<option value=18>Dalmarnock</option>
			<option value=19>Devol Moor</option>
			<option value=20>Devonside</option>
			<option value=21>Dewar Place</option>
			<option value=22>Drumchapel</option>
			<option value=23>Dumfries</option>
			<option value=24>Dunbar</option>
			<option value=25>Dunfermline</option>
			<option value=26>Easterhouse</option>
			<option value=27>East Kilbride</option>
			<option value=28>East Kilbride South</option>
			<option value=29>Eccles</option>
			<option value=30>Elderslie</option>
			<option value=31>Erskine</option>
			<option value=32>Finnieston</option>
			<option value=33>Galashields</option>
			<option value=34>Giffnock</option>
			<option value=35>Glenlee</option>
			<option value=36>Glenluce</option>
			<option value=37>Glenniston</option>
			<option value=38>Glenrothes</option>
			<option value=39>Gorgie</option>
			<option value=40>Govan</option>
			<option value=41>Grangemouth</option>
			<option value=42>Haggs Road</option>
			<option value=43>Hawick</option>
			<option value=44>Helensburgh</option>
			<option value=45>Inverkeithing</option>
			<option value=46>Johnstone</option>
			<option value=47>Kaimes</option>
			<option value=48>Killermont</option>
			<option value=49>Kilmarnock South</option>
			<option value=50>Kilmarnock Town</option>
			<option value=51>Kilwinning</option>
			<option value=52>Leven</option>
			<option value=53>Linmill</option>
			<option value=54>Livingston</option>
			<option value=55>Maybole</option>
			<option value=56>Newarthill</option>
			<option value=57>Newton Stewart</option>
			<option value=58>Paisley</option>
			<option value=59>Partick</option>
			<option value=60>Port Dundas</option>
			<option value=61>Portobello</option>
			<option value=62>Redhouse</option>
			<option value=63>Saltcoats</option>
			<option value=64>Shrubhill</option>
			<option value=65>Sighthill</option>
			<option value=66>Spango Valley</option>
			<option value=67>St Andrews Cross</option>
			<option value=68>Stirling</option>
			<option value=69>Strathaven</option>
			<option value=70>Strathleven</option>
			<option value=71>Telford Road</option>
			<option value=72>Tongland</option>
			<option value=73>West George Street</option>
			<option value=74>Westfield</option>
			<option value=75>Whitehouse</option>
			<option value=76>Wishaw</option>
			<option value=77>Abernethy</option>
			<option value=78>Alness</option>
			<option value=79>Arbroath</option>
			<option value=80>Ardmore</option>
			<option value=81>Beauly</option>
			<option value=82>Boat of Garten</option>
			<option value=83>Braco</option>
			<option value=84>Bridge of Dun</option>
			<option value=85>Broadford</option>
			<option value=86>Brora</option>
			<option value=87>Burghmuir</option>
			<option value=88>Carradale</option>
			<option value=89>Charleston</option>
			<option value=90>Clachan</option>
			<option value=91>Clayhills</option>
			<option value=92>Coupar Angus</option>
			<option value=93>Craigiebuckler</option>
			<option value=94>Dudhope</option>
			<option value=95>Dunoon</option>
			<option value=96>Dunvegan</option>
			<option value=97>Dyce</option>
			<option value=98>Elgin</option>
			<option value=99>Fiddes</option>
			<option value=100>Fort Augustus</option>
			<option value=101>Fort William</option>
			<option value=102>Fraserburgh</option>
			<option value=103>Grudie Bridge</option>
			<option value=104>Inverness</option>
			<option value=105>Keith</option>
			<option value=106>Killin</option>
			<option value=107>Kintore</option>
			<option value=108>Lairg</option>
			<option value=109>Lunanhead</option>
			<option value=110>Lyndhurst</option>
			<option value=111>MacDuff</option>
			<option value=112>Milton of Craigie</option>
			<option value=113>Mybster</option>
			<option value=114>Nairn</option>
			<option value=115>Persley</option>
			<option value=116>Peterhead Grange</option>
			<option value=117>Port Ann</option>
			<option value=118>Quoich</option>
			<option value=119>Redmoss</option>
			<option value=120>Shin</option>
			<option value=121>Sloy</option>
			<option value=122>Strichen</option>
			<option value=123>Tarland</option>
			<option value=124>Taynuilt</option>
			<option value=125>Thurso</option>
			<option value=126>Tummel Bridge</option>
			<option value=127>Willowdale</option>
			<option value=128>Woodhill</option>
		</select><br/>
		<br/>
				<p class="norm"><strong>Select the time period (a particular month of the year or complete year):</strong></p>
		
		<table>
			<tr>
				<td><p class ="norm">Month</p></td>
				<td>No. of Days</td>
			</tr>
			<tr>
				<td><select name="month">
			<option value=1>January</option>
			<option value=2>February</option>
			<option value=3>March</option>
			<option value=4>April</option>
			<option value=5>May</option>
			<option value=6>June</option>
			<option value=7>July</option>
			<option value=8>August</option>
			<option value=9>September</option>
			<option value=10>October</option>
			<option value=11>November</option>
			<option value=12>December</option>
			<option value=13>Full Year</option>
				</select></td>
				</td>
				<td><input type="number" name="days"></td>
			</tr>
		<table>
	
		<br></br>
		<input type="submit" value="Plot Electrical GSP Demand">
		
	</form>
	
	<p></p>
	<a href={% url 'comparePlots' %}>Compare the demand of two different areas </a> 
	
</div>

</body>

{% endblock %}
</html>
