<html>
<head>
{% extends "home/base_generic.html" %}
</head>

{% block content %}
<body>
<div class="container">
	<div class="mainCentreLower">
	<h1 class="heading1">Caledonia Energy Systems</h1>
	<p class="left"> Energy systems within Scotland have traditionally relied on large, centralised sources providing energy to homes and businesses throughout the country. 
					 However, there has recently been both desire for, and progression towards, a greater emphasis on local energy. 
					 The changing landscape of Scotland’s energy systems, brought about by an increasing drive for decarbonisation and sustainability, 
					 presents an opportunity for local energy systems which better connect local energy demand with new local renewable resources. </p>
	</br>
	<p class="left"><strong> More to follow...</strong></p>
	</div>
<div>

</body>
{% endblock %}
</html>