<html>
<head>
{% extends "home/base_generic.html" %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
{% block content %}
<body>
<div class="container">
	<div class="mainCentreLowerImage">
		<img class="Centre" src="data:image/png;base64,{{graphic|safe}}">
		<h1 class="imageDetail">Wind Farm Statistics</h1>
		<p class="Centre"><strong>Capacity Factor : </strong><font color=#4CAF50><strong>{{ capacityFactor }}%</strong></font></p>	
		<p class="Centre"><strong>Peak Generation Output : </strong><font color=#4CAF50><strong>{{ peakGen }}MW</strong></font></p>	
	</div>
</div>
</body>
{% endblock %}
</html>