<html>
<head>
{% extends "home/base_generic.html" %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

{% block content %}
<body>
<div class="container">
	<div class="mainCentreLower">
		<h1 class="heading1" style="text-align: center;">Sizing Statistics</h1>
		<p class ="Centre"><strong>Minimum BES Required: </strong><font color=#4CAF50><strong>{{ capacityMax }}MW</strong></font></p>
		<p class="Centre"><strong>% of Demand Reduced: </strong><font color=#4CAF50><strong>{{reductionMax }}</strong></font></p>
	</div>
</div>
</body>
{% endblock %}
</html>